<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{title}}{% else %}Blogy{% endif %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    {% tailwind_css %}

    {% block head %}{% endblock %}
</head>

<body>

    {% for message in messages %}
    <div class="fixed bottom-4 left-4 w-96 {{message.tags}} px-4 py-3 rounded"
        role="alert">
        <strong class="block sm:inline">{{ message }}</strong>
        <button onclick="this.parentElement.remove()"
            class="absolute top-2 right-2 text-xl leading-none cursor-pointer">&times;</button>
    </div>
    {% endfor %}

    <nav
        class="flex items-center justify-between px-6 md:px-16 lg:px-24 xl:px-32 py-2 border-b border-gray-300 bg-white relative transition-all">
        <a href="{% url 'main:home' %}">
            <img class="h-12"
                src="{% static 'images/blogy.png' %}"
                alt="Blogy">
        </a>

        <button aria-label="Menu" id="menu-toggle" class="sm:hidden">
            <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="21" height="1.5" rx=".75" fill="#426287" />
                <rect x="8" y="6" width="13" height="1.5" rx=".75" fill="#426287" />
                <rect x="6" y="13" width="15" height="1.5" rx=".75" fill="#426287" />
            </svg>
        </button>

        <div id="mobile-menu"
            class="hidden absolute top-[60px] left-0 w-full bg-white shadow-md py-4 flex-col items-start gap-2 px-5 text-sm md:hidden">
            <a href="#" class="block">Home</a>
            <a href="#" class="block">About</a>
            <a href="{% url 'accounts:edit_profile' %}" class="block">Settings</a>
            <button
                class="cursor-pointer px-6 py-2 mt-2 bg-indigo-500 hover:bg-indigo-600 transition text-white rounded-full text-sm">
                Login
            </button>
        </div>

        <div class="hidden sm:flex items-center gap-8">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="{% url 'accounts:edit_profile' %}">Settings</a>

            <div class="hidden lg:flex items-center text-sm gap-2 border border-gray-300 px-3 rounded-full">
                <input class="py-1.5 w-full bg-transparent outline-none placeholder-gray-500" type="text"
                    placeholder="Search products" />
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.836 10.615 15 14.695" stroke="#7A7B7D" stroke-width="1.2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path clip-rule="evenodd"
                        d="M9.141 11.738c2.729-1.136 4.001-4.224 2.841-6.898S7.67.921 4.942 2.057C2.211 3.193.94 6.281 2.1 8.955s4.312 3.92 7.041 2.783"
                        stroke="#7A7B7D" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>


            {% if user.is_authenticated %}
            <!-- <a href="{% url 'accounts:logout' %}"
                class="cursor-pointer px-8 py-2 bg-indigo-500 hover:bg-indigo-600 transition text-white rounded-full">
                Create
            </a> -->
            {% else %}
            <a href="{% url 'accounts:login' %}"
                class="cursor-pointer px-8 py-2 bg-indigo-500 hover:bg-indigo-600 transition text-white rounded-full">
                Login
            </a>
            {% endif %}
        </div>
    </nav>





    {% block content %}
    {% endblock %}


    <script>
        document.getElementById("menu-toggle").addEventListener("click", function () {
            const menu = document.getElementById("mobile-menu");
            if (menu.classList.contains("hidden")) {
                menu.classList.remove("hidden");
                menu.classList.add("flex");
            } else {
                menu.classList.add("hidden");
            }
        });
    </script>
    {% block script %}{% endblock %}
</body>

</html>