{% extends 'base.html' %}

{% block head %}
<!-- This heading is from create_post.html  -->
{% endblock %}

{% block content %}
<main class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-lg border-0">
                <form method="post" class="card-body p-4">
                    <h3 class="mb-4">Create New Post</h3>
                    {% csrf_token %}
                    <!-- Title -->
                    <div class="mb-3">
                        <label for="{{form.title.id_for_label}}" class="form-label fw-semibold">Title</label>
                        {{form.title}}
                        <p class="text-danger">{{form.title.errors.0}}</p>
                    </div>

                    <!-- Action Buttons -->
                    <div class="d-flex justify-content-end gap-2">
                        <a href="{% url 'main:home' %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Create Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block script %}
<!-- This Script is from create_post.html  -->
{% endblock %}