{% extends 'base.html' %}

{% block head %}
<!-- This heading is from forgot_password.html  -->
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">Forgot Password</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required id="email" placeholder="Enter your email">
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Send Reset Password Link</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- This Script is from forgot_password.html  -->
{% endblock %}