{% extends 'base.html' %}

{% block head %}
<!-- This heading is from forgot_password.html  -->
{% endblock %}

{% block content %}
<main class="min-h-[calc(100vh-80px)] flex items-center justify-center bg-gray-50">
    <form action="{% url 'accounts:forgot_password' %}" method="post"
        class="max-w-96 w-full text-center border border-gray-300/60 rounded-2xl px-8 bg-white">
        {% csrf_token %}
        <h1 class="text-gray-900 text-3xl mt-10 font-medium">Forgot Password</h1>
        <p class="text-gray-500 text-sm mt-2">Don't worry, just reset it.</p>
        <div
            class="flex items-center w-full mt-10 bg-white border border-gray-300/80 h-12 rounded-full overflow-hidden pl-6 gap-2">
            <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 .55.571 0H15.43l.57.55v9.9l-.571.55H.57L0 10.45zm1.143 1.138V9.9h13.714V1.69l-6.503 4.8h-.697zM13.749 1.1H2.25L8 5.356z"
                    fill="#6B7280" />
            </svg>

            <input type="email" placeholder="Email ID"
                class="bg-transparent text-gray-500 placeholder-gray-500 outline-none text-sm w-full h-full" required
                name="email" id="email">
        </div>

        <button type="submit"
            class="mt-2 w-full h-11 rounded-full text-white bg-indigo-500 hover:opacity-90 transition-opacity cursor-pointer">
            Send Reset Password Link
        </button>
        <p class="text-gray-500 text-sm mt-3 mb-11">Remember Password? <a class="text-indigo-500"
                href="{% url 'accounts:login' %}">Login</a></p>
    </form>
</main>
{% endblock %}

{% block script %}
<!-- This Script is from forgot_password.html  -->
{% endblock %}