{% extends 'base.html' %}

{% block head %}
<!-- This heading is from reset_password.html  -->
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">Reset Your Password</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                {{ form.password }}
                <p class="text-danger">{{form.password.errors.0}}</p>
            </div>
            <div class="mb-3">
                <label for="{{ form.confirm_password.id_for_label }}" class="form-label">Confirm Password</label>
                {{ form.confirm_password }}
                <p class="text-danger">{{form.confirm_password.errors.0}}</p>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- This Script is from reset_password.html  -->
{% endblock %}